@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary: #154ec1;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  line-height: 1.6;
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .container {
  padding: 0 15px;
} */
.flx {
  display: flex;
  flex: 1 1 auto;
}

.x-center {
  align-items: center;
}

.x-between {
  justify-content: space-between;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-white {
  background-color: #fff;
}

.round-default {
  border-radius: 12px;
}

.cd {
  /* background-color: #fff; */
  border-radius: 12px;
  padding: 12px 10px;
}

.clr-primary {
  color: var(--primary);
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.margin-b {
  margin-bottom: 16px;
}
